body, html {
    background-color: #2C6092;
}

.container {
    font-size: 50px;
    font-weight: 800;
    color: #000;
    margin: auto auto;
    margin-top: 100px;
}

.onlineButton
{
    background-color: #ABADC4;
    max-width: 250px;
    padding: 30px 15px;
    margin: auto;
    margin-top: 30px;
    border-radius: 35px;
    text-align: center;
    transition: background-color 0.1s linear;
}

.onlineButton:hover
{
    background-color: #6573CB;
}

.twoPlayersButton
{
    background-color: #CBC8A7;
    max-width: 250px;
    padding: 30px 15px;
    margin: auto;
    margin-top: 30px;
    border-radius: 35px;
    text-align: center;
    transition: background-color 0.1s linear;
}

.twoPlayersButton:hover
{
    background-color: #ABA35A;
}