body, html {
    background-color: #2C6092;
}

.container {
    font-size: 50px;
    font-weight: 800;
    color: #000;
    margin: auto auto;
    margin-top: 100px;
}

.skirmishButton
{
    background-color: #ABADC4;
    max-width: 250px;
    padding: 30px 15px;
    margin: auto;
    margin-top: 30px;
    border-radius: 35px;
    text-align: center;
    transition: background-color 0.1s linear;
}

.skirmishButton:hover
{
    background-color: #6573CB;
}

.editorButton
{
    background-color: #CBC8A7;
    max-width: 250px;
    padding: 30px 15px;
    margin: auto;
    margin-top: 30px;
    border-radius: 35px;
    text-align: center;
    transition: background-color 0.1s linear;
}

.editorButton:hover
{
    background-color: #ABA35A;
}

.loadButton
{
    background-color: #A0B8A2;
    max-width: 250px;
    padding: 30px 15px;
    margin: auto;
    margin-top: 30px;
    border-radius: 35px;
    text-align: center;
    transition: background-color 0.1s linear;
}

.loadButton:hover
{
    background-color: #5BA66E;
}