body, html 
{
    background-color: #2C6092;
}

.UI 
{
    
}

.moveUp
{
    position: absolute;
    left: 200px;
    top: 635px;
    z-index: 10;
}

.moveDown
{
    position: absolute;
    left: 200px;
    top: 890px;
    z-index: 10;
}

.moveLeft
{
    position: absolute;
    left: 75px;
    top: 750px;
    z-index: 10;
}

.moveRight
{
    position: absolute;
    left: 350px;
    top: 750px;
    z-index: 10;
}