body, html {
    background-color: #2C6092;
}

.container {
    font-size: 50px;
    font-weight: 800;
    color: #000;
    margin: auto auto;
    margin-top: 100px;
}

.moveUp
{
    position: absolute;
    left: 200px;
    top: 635px;
    z-index: 10;
}

.moveDown
{
    position: absolute;
    left: 200px;
    top: 890px;
    z-index: 10;
}

.moveLeft
{
    position: absolute;
    left: 75px;
    top: 750px;
    z-index: 10;
}

.moveRight
{
    position: absolute;
    left: 350px;
    top: 750px;
    z-index: 10;
}